<form [formGroup]="addProductForm" (ngSubmit)="submitAddProjectForm()">
  <p-floatLabel>
    <input pInputText id="prioridade" formControlName="prioridade" />
    <label for="prioridade">Prioridade</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="nome" formControlName="nome" />
    <label for="nome">Nome</label>
  </p-floatLabel>
  <p-floatLabel class="mb-2">
    <p-calendar [showOnFocus]="false" [showIcon]="true" inputId="dataInicio" [appendTo]="'body'" dateFormat="dd/mm/yy"
      formControlName="dataInicio" />
    <label for="dataInicio">Data de Início</label>
  </p-floatLabel>
  <p-floatLabel>
    <p-calendar [showOnFocus]="false" [showIcon]="true" inputId="dataFim" [appendTo]="'body'" dateFormat="dd/mm/yy"
      formControlName="dataInicio" />
    <label for="dataFim">Data de Término</label>
  </p-floatLabel>
  <p-dropdown [options]="users" [(ngModel)]="userSelected" optionLabel="nome" optionValue="id" [showClear]="true"
    placeholder="Selecione um responsável" formControlName="idUsuarioResponsavel" [appendTo]="'body'" />
  <p-button type="submit" label="New Project" icon="pi pi-check"
    ></p-button>
</form>
